{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/books.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <h1> Reviews </h1>

    <!-- Page Filters -->
    <div class="ms-5">
        <span class="fs-4 ms-5"> Filters: </span>
        <a href="{% url 'home_page' %}?filter=all"  class="btn btn-{{ button_activity.0 }} btn-sm ms-3">
            <i class="bi bi-grid-3x3-gap-fill"></i> All
        </a>
        <a href="{% url 'home_page' %}?filter=by_friends"  class="btn btn-{{ button_activity.1 }} btn-sm ms-3">
            <i class="bi bi-person-rolodex"></i> by friends
        </a>
        <a href="{% url 'home_page' %}?filter=my_reviews"  class="btn btn-{{ button_activity.2 }} btn-sm ms-3">
            <i class="bi bi-person-circle"> </i> my reviews
        </a>
    </div>

    <!-- /Page Filters -->


    {% if page_reviews %}

        <!-- Reviews List -->
        {% for review in page_reviews %}
            <div class="container posts-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                          <div class="card-body">
                            <div class="media mb-3">
                              <a href="{% url 'users:profile' review.user.username %}">
                                  <img src="{{ review.user.profile_picture.url }}" class="d-block ui-w-40 rounded-circle" alt="">
                              </a>
                              <div class="media-body ml-3">
                                  <a href="{% url 'users:profile' review.user.username %}">
                                      {{ review.user.username }}
                                  </a>
                                <div class="text-muted small"> {{ review.create_at | date:"d F, Y | H:i" }} </div>
                              </div>
                            </div>

                            <p> {{ review.comment_text | truncatechars:300 }} </p>
                            <a href="{% url 'books:detail' review.book.id %}">
                                <img class="cover-pic my-center" src="{{ review.book.cover_picture.url }}">
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /Reviews List -->


        <!-- Pagination previous and next page number list -->
        <nav aria-label="...">
          <ul class="pagination">
              {% if page_reviews.has_previous %}
                 <li class="page-item">
                  <a class="page-link" href="{% url 'home_page' %}?page={{ page_reviews.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"> Previous </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
              {% endif %}

              {% for i in page_range %}
                {% if page_reviews.number == i %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="{% url 'home_page' %}?page={{ i }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">{{ i }}</a>
                    </li>
                {% elif i == page_reviews.paginator.ELLIPSIS %}
                    <li class="page-item">
                        <a class="page-link"> {{ i }} </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'home_page' %}?page={{ i }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"> {{ i }} </a>
                    </li>
                {% endif %}
              {% endfor %}

              {% if page_reviews.has_next %}
                 <li class="page-item">
                  <a class="page-link" href="{% url 'home_page' %}?page={{ page_reviews.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"> Next </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Next</a>
                </li>
              {% endif %}
          </ul>
        </nav>
        <!-- /Pagination previous and next page number list -->

    {% else %}
        <h2> No Reviews found </h2>
    {% endif %}

{% endblock %}